@model IEnumerable<ArtCatalog.Models.Product>

<div class="container">
    <div class="row">
        @Html.ActionLink("Добавить новую работу", "Create", null, new { @class = "btn btn-primary" })
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@item.ThumbinalPath" alt="Изображение не найдено.">
                    <div class="caption">
                        <h3>@item.ProductName</h3>
                        <p>
                            @Html.DisplayNameFor(model => model.Categ.CategoryName):
                            @Html.DisplayFor(modelItem => item.Categ.CategoryName)
                        </p>
                        <p>
                            @Html.DisplayNameFor(model => model.ProductDescription):
                            @Html.DisplayFor(modelItem => item.ProductDescription)
                        </p>
                        <p>
                            @Html.DisplayNameFor(model => model.ProducedAt):
                            @Html.DisplayFor(modelItem => item.ProducedAt)
                        </p>
                        <p>
                            @Html.DisplayNameFor(model => model.Size):
                            @Html.DisplayFor(modelItem => item.Size)
                        </p>
                        <p>
                            @Html.ActionLink("Редактировать", "Edit", new { id = item.ProductID }, new { @class = "btn btn-default", @role = "button" })
                            @Html.ActionLink("Удалить", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger", @role = "button" })
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>